// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────────┬──────────────╮   ╭───────────┬───────────┬───────────┬───────────┬────────────╮
        //│  Q       │  W(dead) │  E       │ R (Ctrl+R:   │ T (Ctrl+T:   │   │ (unwired) │ (unwired) │ (unwired) │ (unwired) │ P (paddle) │
        //│          │          │          │  restart)    │  teleport)   │   │           │           │           │           │            │
            &kp Q      &none      &kp E      &kp LC(R)      &kp LC(T)        &none        &none        &none        &none       &kp P
        //├──────────┼──────────┼──────────┼──────────────┼──────────────┤   ├───────────┼───────────┼───────────┼───────────┼────────────┤
        //│  A       │ S (Ctrl+S│  D       │  F           │  G           │   │ (unwired) │ (unwired) │ (unwired) │ (unwired) │ (unwired)  │
        //│          │  :start) │          │              │              │   │           │           │           │           │            │
            &kp A      &kp LC(S)  &kp D      &kp F          &kp G            &none        &none        &none        &none       &none
        //├──────────┼──────────┼──────────┼──────────────┼──────────────┤   ├───────────┼───────────┼───────────┼───────────┼────────────┤
        //│  Z       │  X       │  C       │  V           │  B           │   │ (unwired) │ (unwired) │ (unwired) │ (unwired) │ / (paddle) │
            &kp Z      &kp X      &kp C      &kp V          &kp B            &none        &none        &none        &none       &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────────┼──────────────┤   ├───────────┼───────────┼───────────┴───────────┴────────────╯
                                             &kp ESC         &kp RET           &none        &none
        //                                 ╰──────────────┴──────────────╯   ╰───────────┴───────────╯
            >;
        };
    };
};
